@media (width<=600px) {
  .main {
    background-color: white;
  }
  .back{
    width: 100vw;
    /* height: 20px; */
    background-color:green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1px 15px 0 15px;
    
    & a{
       font-size:23px ;
       color: white;
    }
    }
  .main_inner {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 2px solid green;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  .top {
    width: 100%;
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .elem {
    /* width: 10%; */
    height: 50%;
    display: flex;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 15px;
  }
  .inner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 10px;
    color: black;
  }
  /* .box {
    width: 40px;
    height: 40px;
    background-color: rgb(71, 138, 71);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  } */
  .over {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aquamarine; */

    & h3 {
      font-size: 2rem;
      color: red;
      font-weight: 400;
    }
  }
  .newgame {
    margin-top: 30px;

    & a {
      text-decoration: none;
      color: green;
      font-size: 1.1rem;
      border: 1px solid green;
      border-radius: 5px;
      padding: 8px 15px;
    }
  }
  .main2>a{
    font-size: 15px;
}
}
