* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: green; 
  border-radius: 10px;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back{
  width: 100vw;
  /* height: 20px; */
  background-color:green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
  
  & a{
     font-size:23px ;
     color: white;
  }
  }
.main_inner {
  width: 70%;
  height: 90%;
  /* background-color: green; */
  border-radius: 10px;
  overflow: hidden;
  /* border: 2px solid green; */
  box-shadow: 2px 2px 20px black;

}
.top {
  width: 100%;
  height: 60px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.elem {
  /* width: 10%; */
  height: 50%;
  display: flex;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;

}
.inner {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 15px;
  color: black;
}
.bottom {
  width: 100%;
  height: calc(100% - 80px);
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  

}
.box {
  width: 35px;
  height: 35px;
  background-color: rgb(71, 138, 71);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.box:hover {
  background-color: rgb(0, 50, 0);
}
.over{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aquamarine; */


  & h3{
    font-size: 4rem;
    color: red;
    font-weight: 400;
  }
}
.newgame{
  margin-top: 30px;

  & a{
    text-decoration: none;
    color: green;
    font-size: 1.4rem;
    border: 1px solid green;
    border-radius: 5px;
    padding: 8px 15px;
  }
}
